table{
    margin-top: 15px;
}

img{
    height: 50px;
}

h1{
    text-align: center;
}

.row{
    justify-content: space-around;
}

.fontFecha{
    color: brown;
}

.fontEmail{
    color: blue;
    font-weight: bolder;
}

.fontTexto{
    color: green;
    font-style: italic;
}

.sectionBotones{
    padding: 10px;
}